<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>Event Mail</h3>
      <%= form_with url: group_send_mail_path(@group), method: :get, local: true do |f| %>
        <div class="form-grouop mb-3">
          <%= f.label :title %>
          <%= f.text_field :mail_title, class: 'form-control' %>
        </div>
        <div class="form-grouop">
          <%= f.label :content %>
          <%= f.text_area :mail_content, class: 'form-control' %>
        </div>
        <div class="mt-3">
          <%= f.submit 'é€ä¿¡', class: 'btn btn-sm btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>